* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;500;800&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

.container {
  padding: 0 15em;
  margin: 0 auto;
}

/* Header section */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5em;
}
header li a {
  color: #3c354f;
  text-align: center;
  font-size: 1.125em;
  font-weight: 500;
}
.header {
  margin: 2.5em 0;
}
.header-title {
  display: flex;
  gap: 1.25em;
}
.gamer-title {
  color: #0b0223;
  font-size: 2.5em;
  font-weight: 700;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
}
.header-nav {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.hd-nav-1 > ul {
  display: flex;
  gap: 2em;

  justify-content: center;
  align-items: center;
}
.follow-us ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 12px;
  justify-content: center;
  align-items: center;
  width: 210px;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-title {
  color: #0b0223;
  font-size: 3em;
  font-weight: 600;
}
.banner li {
  list-style: none;
  margin-bottom: 1rem;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.fa-solid,
.fa-regular {
  margin-right: 1em;
}
.btn .btn-primary {
  margin-right: 1.5rem;
  margin-top: 2rem;
}
.banner-heading {
  font-size: 5.93em;
  font-weight: 800;
  font-family: Work Sans;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.btn-primary {
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border: 0;
}
.rogue-btn {
  background: #4ec5f7;
}

/* Media Query Styles */
@media screen and (max-width: 576px) {
  header,
  .hd-nav-1 > ul,
  .header-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hd-nav-1 {
    margin-top: 40px;
  }
  .container {
    padding: 0 13em;
  }
  .banner {
    flex-direction: column-reverse;
    background-position: bottom left;
    background-size: 100% 60%;
  }
  .banner-img {
    width: 80vw;
    height: auto;
  }
  .btn {
    /* display: flex; */
  }
  .banner-left {
    width: 80vw;
    margin-top: 5em;
  }
}
